.endpoint-container {
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    height: fit-content;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    column-gap: 10px;
    background-color: white;
}

.documentation {
    text-align: left;
    width: 100%;
}

.documentation h1 {
    color: #333;
    margin-bottom: 10px;
}

.endpoint {
    display: flex;
    flex: 2;
    flex-direction: column;
    color: #333;
    text-align: left;
}

.right {
    flex: 1;
}

.endpoint h2 {
    margin: 0px;
}

.endpoint p {
    margin: 0px 0px 20px 0px;
}

.code-windows {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 5px;
    width: fit-content;
    overflow: hidden;
}

.window {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #333;
    height: fit-content;
    overflow-x: scroll;
}

.window p {
    margin: 0px;
}