.code-card {
    text-align: left;
    padding-top: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #16ff49;
    margin: 0px;
    width: fit-content;
    background-color: #333;
}